/* (A) LIST STYLES */
.slist {
    list-style: none;
    padding: 0;
    margin: 0;
}
.slist li {
    margin: 10px;
    padding: 15px;
    border: 1px solid #415246;
    background: #636664;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* (B) DRAG-AND-DROP HINT */
.slist li.hint {
    border: 1px solid #ffc49a;
    background: #757551;
}
.slist li.active {
    border: 1px solid #ffa5a5;
    background: #756a6a;
}

/* (C) DRAG-AND-DROP EFFECTS */
.slist li.drag {
    opacity: 0.5;
}
.slist li.drop {
    opacity: 0.5;
    border: 1px dashed #dfdfdf;
    background: #f5f5f5;
}

/* (D) DRAG-AND-DROP ANIMATION */
.slist li {
    transition: all 0.25s ease;
}
.slist li.hint {
    transition: all 0.25s ease;
}
.slist li.active {
    transition: all 0.25s ease;
}
.slist li.drag {
    transition: all 0.25s ease;
}
.slist li.drop {
    transition: all 0.25s ease;
}

/* Other */
.header {
    position: fixed;
    left: 3%;
}

.header h1 {
    text-shadow:
        -2px 0px #ef3550,
        -4px 2px #f48fb1,
        -6px 4px #7e57c2,
        -8px 6px #2196f3,
        -10px 8px #26c6da,
        -12px 10px #43a047,
        -14px 12px #eeff41,
        -16px 14px #f9a825,
        -18px 16px #ff5722;
}

.upnext {
    position: absolute;
    right: 15%;
    text-align: center;
}
.upnext h3 {
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

ul li img {
    width: 100px;
    height: auto;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
}

.plcontainer {
    width: 40%;
    top: 14%;
    right: 0px;
    position: absolute;
}

.extrainfo {
    margin: 10px;
    padding: 15px;
    border: 1px solid #415246;
    background: #636664;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
}

.pllength {
    width: 100%;
    text-align: center;
}

.songtitle {
    width: 250%;
}

.duration {
    display: flex;
    white-space: nowrap;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}

.songplay {
    background-color: lightblue;
    border-radius: 5px;
}

.songlink {
    background-color: lightgreen;
    border-radius: 5px;
}

.songdelete {
    background-color: lightcoral;
    border-radius: 5px;
}

.songbuttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

body {
    background-color: #2a5235;
    font-family: "Comic Sans MS", comic-sans, cursive;
    color: #fff;
}

.current {
    width: 55%;
    position: fixed;
    left: 4%;
    top: 15%;
}

.firstimgcontainer {
    width: 100%; /* Set the width you want */
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    background-image: url("your-image-url.jpg");
    background-size: cover;
    background-position: center;
    background: hotpink;
    max-width: 100%;
    overflow: hidden;
}

.firstimgcontainer img {
    width: 100%;
    height: auto;
}

.currenttitle {
    text-align: center;
    font-size: 2em;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.controls button {
    padding: 10px;
    width: 20%;
    height: 50px;
    font-size: 1.5em;
    background-color: darkgray;
    border-radius: 10px;
    border: none;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.controls button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.controls button:active {
    background-color: gray;
}

#slidingDiv {
    position: fixed;
    width: 100%;
    height: 15%;
    right: 50%;
    transform: translateX(50%);
    top: -163px;
    transition: top 0.5s ease-in-out, height 0.3s ease-in-out;
}

#clicktoslideout {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -50px;
    padding: 10px;
    border-radius: 10px;
    transition: top 0.5s ease-in-out;
    background-color: #636664;
}

#clicktoslideout:hover {
    cursor: pointer;
}

.searchcontainer {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 100%;
}

.addsong {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 50%;
    top: 0;
    transform: translateX(50%);
    background-color: #636664;
    border-radius: 10px;
    padding: 10px;
}
.addsong h2 {
    text-align: center;
}
.addsong form {
    top: -5px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
}
.addsong form input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

#addurl {
    width: 150px;
}

.addnextcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addnextcontainer p {
    margin-right: 10px;
}

.addnext {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: lightgray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.addbutton {
    border-radius: 5px;
    border: none;
    width: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.addbutton:hover {
    cursor: pointer;
    background-color: lightgray;
}

#searchresults {
    position: absolute;
    width: 90%;
    height: 0%;
    top: 25%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#searchresults li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out;
}

#searchresults li:hover {
    cursor: pointer;
    background-color: lightgray;
}
